* {
    xbackground-color: rgba(0,0,0,0.1);
}
body{
    margin:0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    font-size:  12px;
    background: #f5f5f5;
}
/*  site-topbar*/
nav{
    background: #333;
    color:#b0b0b0;
    font-size: 0;
    display: flow-root;
}
.header{
    position:relative;
    width: 1226px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    background: #333;
    font-size:0;

}
.header ul{
    display:inline-block;
    list-style: none;
    xvertical-align: middle;
    padding:0;
}
.header ul li{
        font-size:  12px;
    display:inline-block;
    vertical-align: middle;
}
.header-left li::before{
    content:"|";
    margin:0 .5em;
    width:1px;
    height: 1em;
    color: #424242;
}
.header-left li:hover,
.header-right li:hover{
    color:#fff;
}
.header-left li:nth-child(1)::before{
    display:none;
}
.header-right li{

    font-size: 12px;
    display: inline-block;

}
.header-right li::before{
    content:"|";
    margin:0 .5em;
    width:1px;
    height: 1em;
    color: #424242;
}
.header-right li:nth-child(1)::before{
    display:none;
}
.header-right{

    float:right;
}
.header-shop{
    font-size:12px;
    display: inline-block;
    background: #424242;
    width: 120px;
    height: 40px;
    float: right;
    margin-left: 10px;
    text-align: center;
    position: relative;
    z-index: 100;
}
svg{
    vertical-align: middle;
    fill:#b0b0b0;
    vertical-align: -3px;
    margin-right: 3px;
}
.header-left li:nth-last-child(2){
    position:relative;
}
.header-left li:nth-last-child(2)::after{
    content:'';
    position: absolute;
    display: inline-block;
    border-bottom:8px solid #fff;
    border-right:8px solid transparent;
    border-top:8px solid transparent;
    border-left:8px solid transparent;
    bottom:0;
    right:12px;
    transition:none;
    display:none
}
.header-left li div img{
    display:block;
    margin:18px;
    margin-bottom: 12px;
    position:relative;
}
.header-left li div{
    color:#333;
    position: absolute;
    top:100%;
    left:-26px;
    box-shadow:0 1px 5px #aaa;
    background:#fff;
    width: 124px;
    height: 148px;
    text-align: center;
    line-height:1em;
    display:none
}
.header-left li:hover  div ,
.header-left li:nth-last-child(2):hover::after{
    display:block;
    z-index: 200;
}
.header-shop{

    position: relative;
}
.header-shop:hover{

    background:#fff;
    color:#ee702e;

}
.header-shop:hover svg{
    fill:#ee702e;
}
.header-shop-bg{

    width: 316px;
    height:0;
    background:#fff;
    color:#333;
    position: absolute;
    top:100%;
    right:0;
    box-shadow: 0 4px 5px #aaa;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    transition: .6s;
    overflow: hidden;

}
.header-shop-bg > span {

    height: 100%;
    display: inline-block;
}
.header-shop:hover .header-shop-bg{

    height: 100px;
    overflow: hidden;

}

/* site-header*/
.big-bg {
    background: white;
    padding-bottom: 28px;
    min-width: 1226px;
}
.site-header{
    font-size: 0;
    width:1226px;
    height: 100px;
    margin:auto;
    line-height: 100px;
    vertical-align: middle;
}
.site-header > ul{
    display: inline-block;
    position: relative;
    z-index: 100;
    margin:0;
    padding: 0;
}

.site-header > ul > li{
    font-size: 16px;
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
}

.site-header > .site-header-two:hover > li > ul {
    display: block !important;
    box-shadow: 0 3px 6px rgba(79, 79, 79, 0.1);
}
 .site-header-two{
     position: relative;
     z-index: 120;
 }
.header-mi-logo{
    display:inline-block;
    width: 55px;
    height: 55px;
    background:#ee702e;
    vertical-align: middle;
    margin-right: 180px;
     position: relative;
}
.site-header span{
    display:inline-block;
}
.shop-search{
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    border:#ee702e 1px solid;
    font-size: 12px;
    margin-right:-1px;
    vertical-align: middle;
    z-index: 300;
}
.site-header input{
    display: inline-block;
    width: 223px;
    height: 48px;
    border:#e0e0e0 1px solid;
    vertical-align: middle;
    font-size: 18px;
    text-indent: 10px;
    background: #fff;
}
.placeholder {
    position: absolute;
    bottom: 41%;
    color: #757575;
    right: 56px;
    line-height: 12px;
    z-index: 400;
}
.placeholder > span {
    display: inline-block;
    font-size: 12px;
    height: 14px;
    padding: 4px;
    border-radius: 50px;
    background: #eeeeee;
    margin-right: 10px;
}
.placeholder > span:hover{
    color: #ee702e;
}
.recommend {
    height: 0;
    position: absolute;
    z-index: 200;
    font-size: 12px;
    line-height: 1em;
    top: 73px;
    background: #fff;
    border: 1px solid #ee702e;
    width: 225px;
    overflow: hidden;
    transition: .2s;
}
.recommend li{
    padding-bottom: 10px;
      padding-top: 10px;
   padding-left: 16px;
    color: #424242;
}

.site-header .recommend li:hover {
    background: #fafafa;
    color: #424242;
}
.site-header input:focus {
    outline: none;
}
.site-header input:focus{
    border:#ee702e 1px solid;
    position: relative;
    z-index: 300;
}
.site-header input:focus ~ .recommend{
    height: 320px;
}
.site-header input:focus ~ .placeholder{
    display: none;
}
.site-header input:focus ~ .search-bg > svg{
    fill:#fff;
}
.site-header input:focus ~ .search-bg{
    border:#ee702e 1px solid;
    background: #ee702e;
}
.search-bg{
    display: inline-block;
    width: 50px;
    height: 50px;
    border:#e0e0e0 1px solid;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
}
.search-bg svg{
    vertical-align: middle;
    fill:#616161;
}
.search-bg:hover svg {
    fill:#fff;
}
.search-bg:hover{
    border:#b0b0b0 1px solid;
}
.search-bg input:hover {
    border:#ee702e 1px solid;
}
.search-bg:hover,
.search-bg input:visited{
    border:#ee702e 1px solid;
    background: #ee702e;
}
.search-input{
    display: inline-block;
    font-size:0px;
    float:right;
    display: flow-root;
    position: relative;

}

.site-header li:hover{
    color: #ee702e;
}
.site-header li:nth-child(1):hover .navMenu1{
    display: block;
    z-index: 100;
}
.site-header li:nth-child(2):hover .navMenu2{
    display: block;
    z-index: 100;
}
.site-header li:nth-child(3):hover .navMenu3{
    display: block;
    z-index: 100;
}
.site-header li:nth-child(4):hover .navMenu4{
    display: block;
    z-index: 100;
}
.site-header li:nth-child(5):hover .navMenu5{
    display: block;
    z-index: 100;
}
.site-header li:nth-child(6):hover .navMenu6{
    display: block;
    z-index: 100;
}
.site-header li:nth-child(7):hover .navMenu7{
    display: block;
    z-index: 100;
}
/* 图形下拉框 */


.navMenu1 {
    height: 230px;
    width: 1226px;
    font-size: 0;
    list-style: none;
    box-shadow: 0 2px 5px #aaa;
    position: absolute;
    top:100%;
    left: -234px;
    padding: 0 500px;
    margin: 0 -500px;
    display: none;
    background:#fff;

}

.navMenu1 li{
    font-size: 12px;
    display:inline-block;
    width: 203px;
    height: 230px;
    text-align: center;
    vertical-align: bottom;
    line-height: 12px;
}
.navMenu1 li img{
    height: 102px;
    margin: 38px auto 20px auto;
    display: block;

}
.navMenu1 li span{
    display: inline-block;
    line-height: 12px;
    margin-bottom: 8px;
    color: #ee702e;
}
.navMenu1 li span:nth-child(2){
    color: #333;
}
.navMenu1 li::before{
    content: "";
    width: 1px;
    height: 80px;
    background: #e0e0e0;
    position: absolute;
    right:0;
    top: 50px;
}
.navMenu1 li:last-child:before{
    display: none;
}



.navMenu2 {
    height: 230px;
    width: 1226px;
    font-size: 0;
    list-style: none;
    box-shadow: 0 2px 5px #aaa;
    position: absolute;
    top:100%;
    left: -234px;
    padding: 0 500px;
    margin: 0 -500px;
    display: none;
    background:#fff;

}
.navMenu2 li{
    font-size: 12px;
    display:inline-block;
    width: 203px;
    height: 230px;
    text-align: center;
    vertical-align: bottom;
    line-height: 12px;
}
.navMenu2 li img{
    height: 102px;
    margin: 38px auto 20px auto;
    display: block;
}
.navMenu2 li span{
    display: inline-block;
    line-height: 12px;
    margin-bottom: 8px;
    color: #ee702e;
}
.navMenu2 li span:nth-child(2){
    color: #333;
}
.navMenu2 li::before{
    content: "";
    width: 1px;
    height: 80px;
    background: #e0e0e0;
    position: absolute;
    right:0;
    top: 50px;
}
.navMenu2 li:last-child:before{
    display: none;
}

.navMenu3 {
    height: 230px;
    width: 1226px;
    font-size: 0;
    list-style: none;
    box-shadow: 0 2px 5px #aaa;
    position: absolute;
    top:100%;
    left: -234px;
    padding: 0 500px;
    margin: 0 -500px;
    display: none;
    background:#fff;
}
.navMenu3 li{
    font-size: 12px;
    display:inline-block;
    width: 203px;
    height: 230px;
    text-align: center;
    vertical-align: bottom;
    line-height: 12px;
}
.navMenu3 li img{
    height: 102px;
    margin: 38px auto 20px auto;
    display: block;
}
.navMenu3 li span{
    display: inline-block;
    line-height: 12px;
    margin-bottom: 8px;
    color: #ee702e;
}
.navMenu3 li span:nth-child(2){
    color: #333;
}
.navMenu3 li::before{
    content: "";
    width: 1px;
    height: 80px;
    background: #e0e0e0;
    position: absolute;
    right:0;
    top: 50px;
}
.navMenu3 li:last-child:before{
    display: none;
}

.navMenu4 {
    height: 230px;
    width: 1226px;
    font-size: 0;
    list-style: none;
    box-shadow: 0 2px 5px #aaa;
    position: absolute;
    top:100%;
    left: -234px;
    padding: 0 500px;
    margin: 0 -500px;
    display: none;
    background:#fff;
}
.navMenu4 li{
    font-size: 12px;
    display:inline-block;
    width: 203px;
    height: 230px;
    text-align: center;
    vertical-align: bottom;
    line-height: 12px;
}
.navMenu4 li img{
    height: 102px;
    margin: 38px auto 20px auto;
    display: block;
}
.navMenu4 li span{
    display: inline-block;
    line-height: 12px;
    margin-bottom: 8px;
    color: #ee702e;
}
.navMenu4 li span:nth-child(2){
    color: #333;
}
.navMenu4 li::before{
    content: "";
    width: 1px;
    height: 80px;
    background: #e0e0e0;
    position: absolute;
    right:0;
    top: 50px;
}
.navMenu4 li:last-child:before{
    display: none;
}

.navMenu5 {
    height: 230px;
    width: 1226px;
    font-size: 0;
    list-style: none;
    box-shadow: 0 2px 5px #aaa;
    position: absolute;
    top:100%;
    left: -234px;
    padding: 0 500px;
    margin: 0 -500px;
    display: none;
    background:#fff;
}
.navMenu5 li{
    font-size: 12px;
    display:inline-block;
    width: 203px;
    height: 230px;
    text-align: center;
    vertical-align: bottom;
    line-height: 12px;
}
.navMenu5 li img{
    height: 102px;
    margin: 38px auto 20px auto;
    display: block;
}
.navMenu5 li span{
    display: inline-block;
    line-height: 12px;
    margin-bottom: 8px;
    color: #ee702e;
}
.navMenu5 li span:nth-child(2){
    color: #333;
}
.navMenu5 li::before{
    content: "";
    width: 1px;
    height: 80px;
    background: #e0e0e0;
    position: absolute;
    right:0;
    top: 50px;
}
.navMenu5 li:last-child:before{
    display: none;
}



.navMenu6 {
    height: 230px;
    width: 1226px;
    font-size: 0;
    list-style: none;
    box-shadow: 0 2px 5px #aaa;
    position: absolute;
    top:100%;
    left: -234px;
    padding: 0 500px;
    margin: 0 -500px;
    display: none;
    background:#fff;
}
.navMenu6 li{
    font-size: 12px;
    display:inline-block;
    width: 203px;
    height: 230px;
    text-align: center;
    vertical-align: bottom;
    line-height: 12px;
}
.navMenu6 li img{
    height: 102px;
    margin: 38px auto 20px auto;
    display: block;
}
.navMenu6 li span{
    display: inline-block;
    line-height: 12px;
    margin-bottom: 8px;
    color: #ee702e;
}
.navMenu6 li span:nth-child(2){
    color: #333;
}
.navMenu6 li::before{
    content: "";
    width: 1px;
    height: 80px;
    background: #e0e0e0;
    position: absolute;
    right:0;
    top: 50px;
}
.navMenu6 li:last-child:before{
    display: none;
}

.navMenu7 {
    height: 230px;
    width: 1226px;
    font-size: 0;
    list-style: none;
    box-shadow: 0 2px 5px rgb(223, 223, 223);
    position: absolute;
    top:100%;
    left: -234px;
    padding: 0 500px;
    margin: 0 -500px;
    display: none;
    background:#fff;
}
.navMenu7 li{
    font-size: 12px;
    display:inline-block;
    width: 203px;
    height: 230px;
    text-align: center;
    vertical-align: bottom;
    xposition: relative;
    line-height: 12px;
}
.navMenu7 li img{
    height: 102px;
    margin: 38px auto 20px auto;
    display: block;
}
.navMenu7 li span{
    display: inline-block;
    line-height: 12px;
    margin-bottom: 8px;
    color: #ee702e;
}
.navMenu7 li span:nth-child(2){
    color: #333;
}
.navMenu7 li::before{
    content: "";
    width: 1px;
    height: 80px;
    background: #e0e0e0;
    position: absolute;
    right:0;
    top: 50px;
}
.navMenu7 li:last-child:before{
    display: none;
}

/* banner大图 */
.banner {
    width: 1226px;
    height: 460px;
    margin: auto;
    position: relative;
    font-size:0;
}
.mibanner-img  img{
    width: 1226px;
    height: 460px;
    position: absolute;
    opacity: 0;
    transition: 0.3s;
}
.mibanner > input{
    position: absolute;
    z-index: 100;
    display: none;
}
.press-bottom{
    position: absolute;
    right: 24px;
   bottom : 32px;
   z-index: 100;
}
.press-bottom label{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 8px;
    border: 2px solid hsla(0,0%,100%,.3);
    background: rgba(0,0,0,.4);
    margin: 4px;

}
.press-left label {
    width: 40px;
    height: 70px;
    position: absolute;
    left: 234px;
    top: 198px;
    background-image: url(icon-slides.png);
    background-position: right 124px top 0px;
    display: none;

}
.press-left label:hover {
    background-image: url(icon-slides.png);
    background-position: left;
}
.press-right label {
    width: 40px;
    height: 70px;
    position: absolute;
    right: 0px;
    top: 198px;
    background-image: url(icon-slides.png);
    background-position: right;
    display: none;

}
.press-right label:hover{
    background-image: url(icon-slides.png);
    background-position: left 124px top 0;
}
#first ~ .mibanner-img > .one{
    opacity: 100;
}
#second:checked ~ .mibanner-img > .two{
    opacity: 100;
}
#third:checked ~ .mibanner-img > .three{
    opacity: 100;
}
#fourth:checked ~ .mibanner-img > .four{
    opacity: 100;
}
#fifth:checked ~ .mibanner-img > .five{
    opacity: 100;
}
.press-bottom label:hover{
    background:content-box #fff;
}
.press-left .a-f{
    display:inline-block;
}
#first:checked ~ .press-left > .b-f,
#second:checked ~ .press-left > .c-f,
#third:checked ~ .press-left > .d-f,
#fourth:checked ~ .press-left > .e-f,
#fifth:checked ~ .press-left > .a-f
{
    display: inline-block;
}
.press-right .a-r{
    display:inline-block;
}
#first:checked ~ .press-right > .e-r,
#second:checked ~ .press-right > .a-r,
#third:checked ~ .press-right > .b-r,
#fourth:checked ~ .press-right > .c-r,
#fifth:checked ~ .press-right > .d-r
{
    display: inline-block;
}



.banner-aside .aside-contain{
    list-style: none;
    padding: 20px 0;
    width: 234px;
    height: 420px;
    margin:0 ;
    background:rgba(105,101,101,.6);
    position: absolute;
    top:0;
    z-index: 20;
}
.banner-aside .aside-contain > li{
    padding-left: 30px;
    height: 42px;
    width: 204px;
    color:#fff;
    font-size: 14px;
    line-height: 40px;
    vertical-align: middle;
    position: relative;
}
.banner-aside .aside-contain > li:hover {
    background:#ee702e;

}
.banner-aside .aside-contain > li:hover .aside-list1{
    display: block;
}
.banner-aside .aside-contain > li:nth-child(2):hover .aside-list1{
    display: block;
    top: -62px;
}
.banner-aside .aside-contain > li:nth-child(3):hover .aside-list1{
    display: block;
    top: -104px;
}
.banner-aside .aside-contain > li:nth-child(4):hover .aside-list1{
    display: block;
    top: -146px;
}
.banner-aside .aside-contain > li:nth-child(5):hover .aside-list1{
    display: block;
    top: -188px;
}
.banner-aside .aside-contain > li:nth-child(6):hover .aside-list1{
    display: block;
    top: -230px;
}
.banner-aside .aside-contain > li:nth-child(7):hover .aside-list1{
    display: block;
    top: -272px;
}
.banner-aside .aside-contain > li:nth-child(8):hover .aside-list1{
    display: block;
    top: -314px;
}
.banner-aside .aside-contain > li:nth-child(9):hover .aside-list1{
    display: block;
    top: -356px;
}
.banner-aside .aside-contain > li:nth-child(10):hover .aside-list1{
    display: block;
    top: -398px;
}
.banner-aside .aside-contain > li::after{
    content:'';
    background-image: url(asideSlider.png);
    width: 14px;
    height: 14px;
    right:20px;
    top:14px;
    position: absolute;
}
.aside-list1 {
    display: none;
    position: absolute;
    width: 992px;
    height: 460px;
    list-style: none;
    padding: 0;
    margin: 0;
    background:#fff;
    color:#333;
    left: 100%;
    top:-20px;
    box-shadow: 0 4px 12px #c0c0c0;
}
.aside-list1 li ul{
    list-style: none;
    margin:0;
    padding: 0;
}
.aside-list1 ul li{
    width: 248px;
    height: 76px;
    margin-left: 42px;
}
.aside-list1 > li {
    float:left;
    width: 248px;
    margin-top: 2px;

    vertical-align: middle;
    line-height: 76px;
}
.aside-list1 > li ul li:hover{
    color:#ee702e;
}
.aside-list1 > li img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}
/* banner下面的四个浮动条 */
.sub-row{
    width: 1226px;
    height: 170px;
    margin: 14px auto 0 auto;
    background: white;
    /* overflow: hidden; */
}
.sub-row ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 234px;
    height: 170px;
    float: left;
    background:#5e5751 ;
}
.sub-row ul li{
    float:left;
    width: 77px;
    height: 85px;
    color: #fff;
    opacity: .7;
    text-align: center;
    position: relative;
}
.sub-row ul li:hover{
    opacity: 1;
}
.sub-row ul li:before{
    content: '';
    position: absolute;
    height: 68px;
    width: 1px;
    background: #665e57;
    right: 0;
    top: 10px;
}
.sub-row ul li::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 60px;
    background: #665e57;
    right: 8px;
    top: 0px;
}
.sub-row ul li:nth-child(-n+3):after{
    display: none;
}
.sub-row ul li img{
    width: 24px;
    height: 24px;
    display: block;
    margin: 20px auto 6px auto;
}
.sub-row div{
    width: 316px;
    height: 170px;
    margin-left: 14px;
    float: left;
}
.sub-row div:nth-child(3){
    margin-left: 15px;
}
.sub-row div:nth-child(4){
    margin-left: 15px;
}
.sub-row div:nth-child(2){
    background-image: url(xiaomicc.jpg);
    background-size: 316px 175px;
}
.sub-row div:nth-child(3){
    background-image: url(redmiNote.jpg);
    background-size: 316px 175px;
}
.sub-row div:nth-child(4){
    background-image: url(xiaomiloop.jpg);
    background-size: 316px 175px;
}
